.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #004d99;
      color: white;
    font-size: 1.2rem;

  }
 p{
  color:beige
 }
 .header-container button {
  background-color: #0073e6;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.header-container button:hover {
  background-color: #005bb5;
}
.app-name {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  flex: 1;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    text-align: center;
  }

  .header-container button {
    margin-top: 10px;
  }
  
}